.counter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3px;
}

.counter-container button {
    font-size: 25px;
    padding: 5px;
    width: 25px;
}

.counter-count {
    font-size: 25px;
    margin: 0 20px;
}