.size-counter {
    display: flex;
    justify-self: center;
    align-items: center;
    padding: 15px;
    border: 1px solid white;
    margin: 20px;
}

.size-input {
    height: 20px;
    margin-left: 5px;
}